.bg-active{
  background-color: #3d4051 !important;
  transition: 0.3s;
  color: #fff !important;
}

.navbar{
  width: 100%;
  transition: 300ms;
}

.link{
  color: #3d4051;
  text-decoration: none;
  transition: 0.3ms;
}

.link:hover{
  color: #fff;
  background-color: #3d4051 !important;

}